%html
  %body
    %p
      =@issue.oname
      %br
      Belongs to list
      %a{:href => "/list/#{@issue.list.trello_id}"}= @issue.list.name
      on board
      %a{:href => "/board/#{@issue.board.trello_id}"}= @issue.board.name
      %br
      and exists on Zendesk at 
      %a{:href => "https://support.puppetlabs.com/tickets/#{@issue.number}"}= @issue.number
      with status
      = @status
      %br
      %br
      %a{:href => url("/issue/new/zendesk/#{@issue.number}")} Update this card

