%html
  %body
    %p
      =@card.oname
      %br
      Belongs to list
      %a{:href => "/list/#{@card.list}"} link
      = @card.list
      on board
      %a{:href => "/board/#{@card.board.trello_id}"}= @card.board.name
      %br
      and exists on Zendesk at 
      %a{:href => "https://support.puppetlabs.com/tickets/#{@card.number}"}= @card.number
      with status
      = @status
